<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <script type="text/javascript" src="lib/vue.js"></script>
    <script type="text/javascript" src="lib/vue-router.js"></script>
    <script type="text/javascript" src="experiments.js"></script>
    <script type="text/javascript" src="projects.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/x-template" id="experiments-template">
        <div class="experiments-container">
            <div class="experiment-card" v-for="experiment in experiments">
                <img v-if="experiment.image" v-bind:src="experiment.image"></img>
                <div v-html="experiment.embed"></div>
                <div class="text-container">
                    <p v-if="experiment.title" class="title">{{experiment.title}}</p>
                    <p v-if="experiment.date" class="date">{{experiment.date}}</p>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="projects-template">
        <div class="projects-root">
            <div class="intro"> 
                Hello! I'm Param Sehrawat, a programmer and artist based in New York, currently working as a software developer at Con Edison. <br/>
                I love to build and play 3D games and animations. I also build tools the make my life easier.<br/>
                <br/>
                Outside work, I love to play immersive video games. I also like to hike and go for runs.
                <br/>
                <br/>
                <div class="intro-social">
                    <span class="social-icons">
                        <a href="mailto:param(at)sehraw.at" target="_blank">
                            <img src="images/icons/email_black_24dp.svg"></a>
                        <a href="https://www.linkedin.com/in/paramsehrawat/" target="_blank">
                            <img src="images/icons/post_linkedin_black_24dp.svg"></a>
                    </span>
                </div>
            </div>
            <div class="project-container">
                <div class="project-card" v-for="project in projects">
                    <router-link :to="`/project-details/${project.id}`">
                        <p class="title">{{project.title}}</p><br/>
                        <img v-if="project.thumb" v-bind:src="project.thumb">
                        <p class="cover-description">{{project.coverDescription}}</p>
                        <span v-for="tag in project.tags">{{tag}}</span>
                    </router-link>
                </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="project-details-template">    
        <div class="project-details-root">
            <left-navbar></left-navbar>
            <div class="project-details-container">
                <p class="title bold ">{{project.title}}</p>
                <br/>
                <span v-for="cat in project.categories">
                    <router-link :to="`/projects/${cat}`"> #{{cat}} </router-link>
                </span>
                <br/>
                <br/>
                <div v-html="project.content"></div>
            </div>
        </div>
    </script>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div id="app">
        <div class="header">
            <p class="page-title bold">
                <router-link to="/">Param Sehrawat</router-link>
            </p>
            <div class="header-tabs">
                <p>
                    <router-link to="/projects">Projects</router-link>
                </p>
                <p>
                    <a href="https://www.github.com/paramseh/" target="_blank">Github</a>
                </p>
            </div>
        </div>
        <div class="body">
            <router-view></router-view>
        </div>
        <div></div>
    </div>
    <div class="footer"></div>
    </div>
</body>

</html>